[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.2.12"
psycopg2-binary = "==2.9.3"
m3-core = "==3.1.12"
m3-ui = "==2.0.8.22"
m3-recordpack = "==0.1.0.57"

[dev-packages]

[requires]
python_version = "3.9"
